{{#extends "base"}}

{{#block "content"}}
<h1>Update Employee: {{employee.first_name}} {{employee.last_name}}</h1>

<form method="POST">

    <div>
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{employee.first_name}}"/>
    </div>

    <div>
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control" value="{{employee.last_name}}"/>
    </div>

 

    <div>
        <label>Department</label>
        <select class="form-control" name="department_id">
            {{#each departments}}
            <option value="{{this.department_id}}" 
            {{#eq this.department_id ../employee.department_id}}selected{{/eq}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <input type="submit" value="Update Employee" class="btn btn-primary mt-2 mb-2"/>

</form>
{{/block}}

{{/extends}}