{{#extends "base"}}

{{#block "content"}}
<h1>Edit Employee</h1>  
<form method="POST">
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name" value="{{employee.first_name}}">
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name" value="{{employee.last_name}}">
    </div>
    <div class="mb-3">
        <label>Department</label>
        <select name="department_id" class="form-control">
            {{#each departments}}
                <option value="{{this.department_id}}" 
                {{#eq this.department_id ../employee.department_id}}selected{{/eq}}>
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label>Employees</label>
        <select name="employee_id" class="form-control" multiple>
            {{#each employees}}
                <option value="{{employee_id}}"
                {{#inArray ../relatedEmployees employee_id }}selected{{/inArray}}>
                    {{first_name}} {{last_name}}
                </option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Employee</button>




{{/block}}

{{/extends}}