{{#extends "base"}}

{{#block "content"}}
<h1>Employees</h1>

<form class="mb-3" method="GET" action="/employees">
  <div class="input-group">
    <input type="text" class="form-control" name="q" placeholder="Search employees..." value="{{query}}">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</form>

<a href="/employees/create" class="btn btn-success mb-3">Add Employee</a>

<table class="table">
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department Name</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {{#each employees}}
    <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.name}}</td>
        <td>
            <a href="/employees/{{this.employee_id}}/delete" class="btn btn-danger btn-sm">
                Delete
            </a>
            <a href="/employees/{{this.employee_id}}/edit" class="btn btn-primary btn-sm">
                Update
            </a>
        </td>
    </tr>
    {{/each}}
</tbody>
</table>

{{/block}}

{{/extends}}
