{{#extends "base"}}

{{#block "content"}}
<h1>Update Customer: {{customer.first_name}} {{customer.last_name}}</h1>

<form method="POST">

    <div>
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{customer.first_name}}"/>
    </div>

    <div>
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control" value="{{customer.last_name}}"/>
    </div>

    <div>
        <label>Rating</label>
        <input type="text" name="last_name" class="form-control" value="{{customer.rating}}"/>
    </div>

 

    <div>
        <label>Company</label>
        <select class="form-control" name="department_id">
            {{#each companies}}
            <option value="{{this.company_id}}" 
            {{#eq this.company_id ../customer.company_id}}selected{{/eq}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <input type="submit" value="Update Customer" class="btn btn-primary mt-2 mb-2"/>

</form>
{{/block}}

{{/extends}}