{{!-- {{#extends "base"}}
  {{#block "content"}}
    <h1>Customers</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company</th>
          <th>Rating</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each customers}}
          <tr>
            <td>{{Customers.first_name}}</td>
            <td>{{Customers.last_name}}</td>
            <td>{{Companies.name}}</td>
            <td>{{Customers.rating}}</td>
            <td><a href="/customers/{{Customers.customer_id}}/edit">Edit</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/block}}
{{/extends}} --}}



{{#extends "base"}}

{{#block "content"}}
<h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rating</th>
            <th>Company Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.name}}</td>
            <td>
              <a href="/customers/{{this.customer_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
              <a href="/customers/{{this.customer_id}}/edit" class="btn btn-primary btn-sm">Update</a>
              </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}